* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    font-size: 300%;
    text-align: center;
    letter-spacing: 6px;;
    background-color: #aaaaaa;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logoutbtn {
    border: none;
    font-size: 120%;
    background-color: #ffffff;
    position: absolute;
    right: 0;
}
.logoutbtn:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}
.hello {
    display: inline-block;
    padding: 4px 8px;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    border: 1px solid #aaaaaa;
}
.user {
    display: flex;
    align-items: center;
    border: 1px solid #aaaaaa;
    /* border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa; */
    padding: 8px;
}
.user:hover {
    cursor: pointer;
}
.about {
    position: absolute;
    right: 8px;
}
.name {
    padding: 10px;
}
.modal {
    display: none;
    height: 300px;
    background-image: url("../assets/chatBackground.png");
    background-size: contain;
    flex-direction: column;
    position: relative;
}
.block {
    display: flex;
}
form {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}
.mBox {
    width: 90%;
    height: 100%;
    padding: 10px;
}
.mBox:focus {
    outline: none;
}
.send {
    width: 9%;
    height: 100%;
    border: none;
    border-radius: 2px;
    background-color: #4FA845;
    color: #ffffff;
}
.send:hover {
    opacity: 0.8;
    cursor: pointer;
}
.sent, .received {
    display: inline-block;
    padding: 4px;
    width: fit-content;
    margin: 2px;
    border-radius: 8px;
}
.sent {
    background-color: #DBF6C5;
}
.received {
    background-color: #add8e6;
    align-self: flex-end;
}